.maintextbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #605D5C;
	text-decoration: none;
	text-align: left;

}
.maintext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	text-align: justify;

}
.maintextboldblue {
	font-family: "Trebuchet MS", Arial;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #4C7CB8;
	text-decoration: none;
	letter-spacing: -1px;

}
.maintextboldblue1 {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #4C7CB8;
	text-decoration: none;
}
.subheader {

	font-family: "Trebuchet MS", Arial;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	letter-spacing: -1px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;

}
.maintextLeftLine {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 19px;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #6699CC;

}
.CopyrightText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 19px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	background-color: #4C7CB8;
	height: 21px;
	padding-top: 3px;


}
.maintextBlueBold {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;
	text-align: justify;
}
.maintextLeftLine1 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 19px;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.maintextCustomer {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	line-height: 17px;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	text-align: left;
}
.maintextBlueBoldHeader {


	font-family: "Trebuchet MS", Arial;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	color: #0099CC;
	text-decoration: none;
	text-align: justify;
}
.TableBorder {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	text-align: justify;
	border: 1px solid #FF9900;

}
.TableBorder2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	text-align: justify;
	border: 1px solid #999900;
}
.TableBorder3 {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	text-align: justify;
	border: 1px solid #009999;
}
.Table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	text-align: justify;
	border: 1px solid #E0E0E0;


}
.subheadertable {
	font-family: "Trebuchet MS", Arial;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	letter-spacing: -1px;
	border: 1px solid #E0E0E0;


}
.maintextleftjust {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	color: #605D5C;
	text-decoration: none;
	text-align: left;
}

.mainmenu {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}

img
{  border-style: none;
}
