#canvas {
    /*position:absolute;*/
    width: 650px;
    height: 452px;
}

.cc{

    position:absolute;
    width: 650px;
    height: 452px;
    overflow:auto;
}

#wrap{
    width: 1500px;
    height: 1500px;
    overflow:hidden;
    background:transparent;
}

#wrap_ctrl{
    width: 1500px;
    height: 1500px;
    overflow:hidden;
    background:transparent;
}


.blk{
    /*opacity: 0.7;*/
    border:2px solid gray;
    background:lightgray;
    position:absolute ;
    overflow-y:auto;
    

    z-index: 10;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 9px;
    font-weight: bold;
    width:127px;
    min-height:50px;
    height: auto;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
}
.blk h1{
    margin:0;
    cursor: move;
    font-size: 11px;
    height:26px;
    border-bottom: 2px solid gray;
    padding: 5px 0 0 10px;
    border-top-right-radius:5px; 	-moz-border-radius-topright:5px; 	-webkit-border-top-right-radius:5px;
    border-top-left-radius:5px; 	-moz-border-radius-topleft:5px; 	-webkit-border-top-left-radius:5px;
    /*-opera-border-radius-topright:8px;
    -khtml-border-radius:8px;*/
    background-color: white;
}

.blk p{
    /*height: 30px;*/
}

.blk ul{
    margin:0;
    padding:2px 0 0 0;
}
.blk li {
    margin:0;
    padding:0;
    list-style:none;
    /*width: 100% !important;*/
    /*color: gray !important;*/
    text-align: left !important;
}


.blk li .key{
    /*color:red;*/
    /*float:right;*/
    margin-right:3px;
    cursor:pointer;
}
#blk-a{
    left:15px;
    top:50px;
}
#blk-b{
    left:375px;
    top:250px;
}

h2 {
    font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 6px 0 0 0;
}

p {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
}

.hv:hover{
    border:1px red solid;
}

.sl{
    border:2px red groove;
    opacity:0.7;
}

.drag_create{
    border: none;
    color: black;
    font-weight: bold;
}
/*
	.drag_create{
	    border:1px solid #000;
	    background:#fff;

		padding: 5px;

		font-family: verdana,arial,helvetica,sans-serif;
		font-size: 9px;
				min-width:100px;
	}
	.drag_create h1{
	    margin:0;
		cursor: move;
		font-size: 11px;
		padding: 2px;
		background:orange;
	}*/

#easyTooltip{
    padding:5px 10px;
    border:1px solid #195fa4;
    background:#195fa4 url(../bg2.gif) repeat-x;
    color:#fff;
}

#mx{
    height:150px;
    width: 100px;
}



#left_side_bar{
    width: 200px;
    float:left;
}
#right_side_bar{
    width: 200px;
    float:right;
}

.incoming{
    display:none;
}
.captxt { text-transform:capitalize; }
.blk_ctrl{
    /*opacity: 0.7;*/
    border:2px solid gray;
    background:lightgray;
    position:absolute ;
    
    z-index: 10;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 9px;
    font-weight: bold;
    width:180px;
    min-height:50px;
    height: auto;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
}
.blk_ctrl h1{

    margin:0;
    cursor: move;
    font-size: 11px;
    height:20px;
    /*width:100%;*/
    border-bottom: 2px solid gray;
    padding: 5px 0 0 10px;
    border-top-right-radius:5px; 	-moz-border-radius-topright:5px; 	-webkit-border-top-right-radius:5px;
    border-top-left-radius:5px; 	-moz-border-radius-topleft:5px; 	-webkit-border-top-left-radius:5px;
    /*-opera-border-radius-topright:8px;
    -khtml-border-radius:8px;*/
    background-color: white;

}

.blk_ctrl p{
    height: 10px;
}

.blk_ctrl ul{
    margin:0;
    padding:2px 0 0 0;
}
.blk_ctrl li {
    margin:0;
    padding:0;
    list-style:none;
    /*width: 100% !important;*/
    /*color: gray !important;*/
    text-align: left !important;
}

.blk_ctrl li:nth-child(even) {
    background-color: #DDEEFF;
}

.blk_ctrl li .key{
    cursor:pointer;
}
.blk_ctrl li, .blk li{
    color:gray !important;
}
#pan_container{

    height:110px;
    margin:1px;
    width:175px;
    border: solid 1px #000;
}
#pan_controller{
    border:1px solid #999999;
    height:20px;
    width:30px;
}

#message_dialog .ui-dialog{
    z-index: 999999 !important;
}



.tooltip{
   /* position:absolute;*/
   margin-right: 5px;
}

.line{
    display: none;
}

.simpleTree li{
    margin-bottom: 3px;
}