body{
    background: none;
    background-color: white;
}

/***************************************************************************/
 /*div.panel_header{
    display: block;
    height: 40px;
    line-height: 55px;
    font-size: 17px;
    font-weight: bold;
    padding-left:6px;   
    width:120px;
    color: #2c2c2c;
}*/

#ide_content{
    width: auto;
    height: auto;
    margin: 0 auto 0 auto;    
    text-align:left;
}

/*****************************************************************************/
#ide_left_panel{
    width: 164px;
    height: 480px;
    float: left;
    /* border-right: 2px #969595 solid;*/
    background-color: white;


}

div.lp_button{
    display: block;
    width: 145px;
    height: 30px;
    background: url('../../../images/create.jpg') left center no-repeat;

    padding: 0 0 0 25px;
    font-size: 10px;
    font-weight: bold;
    line-height: 28px;
    cursor: pointer;
}

div.lp_button:hover{
    color:gray;
}


/*****************************************************************************/
#ide_main_panel{
    /* width: 71.7%;*/
    height: 480px;
    float: left;
    background:  url('../../../images/bg.jpg');
}


#ide_main_panel ul{
    list-style: none;
    margin: 0 0 0 10px;
}

#ide_main_panel ul li{
    float: left;
    /* display: inline-block;*/
    width: 90px;
    /*height: 25px;*/
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
}

#ide_main_panel ul li:hover{
    opacity: 0.8;
}
/*#ide_main_panel ul li:first-child{
    margin: 0 0 0 20px;
}*/

#ide_main_panel ul li.active{
    color: #6c90bd;
    background-color: #e6ebed;
    margin:3px 2px 0 0;
    height: 22px;
    border-bottom: 3px #e6ebed solid;
    border-top-right-radius:5px; 	-moz-border-radius-topright:5px; 	-webkit-border-top-right-radius:5px;
    border-top-left-radius:5px; 	-moz-border-radius-topleft:5px; 	-webkit-border-top-left-radius:5px;
}

#tabs{
    display: block;
    height: 28px;
    background-color: #595a5b;
}

#tabs ul li{
    width: auto;
    padding: 0 5px 0 5px;
    cursor: pointer;
}


/*****************************************************************************/
#ide_right_panel{
    width: 180px;
    height: 480px;
    float: left;
    /* border-left: 2px #969595 solid;*/
    background-color: white;
}

.right_panel_first_child{
    display: block;
    height: 28px;
    background-color: #5c5c5c;
    text-align: center;
}

#ide_right_panel button{
    height: 24px;
    width: 120px;
    line-height: 18px;
    font-size: 10px;
    font-weight: bold;
    color: #424141;
    cursor: pointer;
}


/*******************************************************************************/
#ide_bottom_panel{
    width: auto;
    height: auto;
    border-top: 2px #969595 solid;
}

#ide_bottom_header{
    display: block;
    height: 33px;
    border-bottom: 1px #969595 solid;
}

#ide_bottom_header div{
    float: left;
    height:28px;
    line-height: 28px;
    margin: 3px 0 0 5px;
    padding: 0 5px 0 5px;
    display: inline-block;
}

#ide_bottom_header div.fcs{
    border: 1px gray solid;
    border-bottom: none;
    background-color: #edecec;
}

#show_hide{
    font-size: 10px;
    color:gray;
    border-bottom: none;
    cursor: pointer;
}

#show_hide:hover{
    color:black;
}

#show_hide img{
    position:relative;
    padding: 0 0 3px 3px ;
}
div.panel_header img{
    position:relative;
    padding: 0 0 5px 1px ;
}
div.cf_bp{
    float: left;
     width: 780px;
    height:auto;
    border-right: 2px #969595 solid;
}

div.cf_bp div{
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
  /*  border-bottom: 1px #969595 solid;*/
  /*  border-right:2px #969595 solid;*/
}

div.cf_bp input{
    width:auto;
}

div.cf_bp table {
    width: 100%;
}

bp_property_1 div.cf_bp table {
    width: auto;
}
div.cf_bp table tr{
    height:22px;
    line-height:20px;
    font-size:10px;
    width: auto;
    /*background-color: #e8e8e8;*/
}
div.cf_bp table tr.tr_property{
    font-size:12px;
    font-weight:bold;

}
div.cf_bp table tr.tr_header{
    height: 22px;
    font-weight: bold;
    font-size: 12px;
    background-color: #e8e8e8;
}

div.cf_bp table td.td_header{
    height: 22px;
    font-weight: bold;
    font-size: 12px;
    background-color: #e8e8e8;
}
div.cf_bp table tr.tr_odd{
    background-color: #e8e8e8;
}

div.cf_bp table tr td{
    padding: 0 1px 0 2px;
    border-bottom: 1px gray solid;
    border-left:1px gray solid;
}
table td.td_noborder{
    border-left: none !important;
}
div.bp_property{
    height: 22px;
    font-weight: bold;
    font-size: 12px;
    background-color: #e8e8e8;
}

.bp_property_odd{
    background-color: #e0e0e0;
}

.cf_bp_last{
    border-right: none !important;
}


/*********************************************************************************/

#process_builder{
    display: block;
    height: 28px;
    width: auto;
    background: #5c5c5c url('../../../images/process_builder.png') center center no-repeat;
}

#paginator {
    text-align: right;
}

#paginator ul.flat_ul li{
    float: left;
    height: 27px;
    line-height:27px;
    font-size:12px;
    padding:0 5px 0 5px;
    margin:5px 0 0 0;
    font-weight:bold;
    width: auto;
    color:black;
}


#connections{
    border: 1px gray solid;
    width: 660px;
    height: 360px;
    overflow-y:auto;
    margin: 50px auto auto auto;
    background-color: white;
    /*    padding-bottom:170px;*/
}

#connections_header{
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom:none;
    padding: 0 0 0 30px;
    font-size: 18px;
    text-align: left;
}

#connections_body{
    overflow:auto;
    /*height: 340px;*/
}

div.connections_div{
    display: block;
    border-bottom: 1px gray solid;
    height: 36px;
}
#cc_1{
    text-align: center;
}

.cd_span_1,.cd_span_2,.cd_span_3,.cd_span_4,.cd_span_5,.cd_span_6{
    line-height: 36px;
    font-size: 11px;
    /*display: inline-block;*/
    /* border-right: 1px gray solid;*/
    padding: 0 0 0 10px;
    font-weight: bold;
    word-wrap:  normal;
}
.cd_span_1{
    /*width:165px;*/
}

.cd_span_2{
    /* width:225px;*/
    word-break: normal;
}
.cd_span_3{
    /* width:73px;*/
}
.cd_span_4{
    /*width:73px;*/
    /* border-right: none*/
}
.cd_span_5{
    width:auto;
    border-right: none
}
.cd_span_6{
    width:auto;
    border-right: none
}
#mydiv table {
    width: 100%;
}

#mydiv table tr{
    /*border-bottom: 1px gray solid;*/
}

#canvas_content{
    width:auto;
    height:450px;
}

#rp_content{
    overflow: auto;
    font-size: 11px;
    font-weight: bold;
    height: 410px;
    margin: 0 0 0 20px;
}
.ui-dialog-content{
    min-height:30px !important;
}

.final{
    border:#84a4d5 2px solid !important;
}

/*.blockOverlay{ background: #aaaaaa url(images/overlay.png) ; opacity: .70;filter:Alpha(Opacity=30); }*/
.mystyle {padding-left: 5px; float: left;}

#ide_main_panel ul.outgoing li{
    width: auto;
    font-size: 9px !important;
}
/**********start advncd prop ***********/

div.advnncd_prop{
    float: left;
   /*  width: 780px;*/
    height:auto;
    border-right: 2px #969595 solid;
}

div.advnncd_prop div{
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
  /*  border-bottom: 1px #969595 solid;*/
  /*  border-right:2px #969595 solid;*/
}

div.advnncd_prop input{
    width:auto;
}

div.advnncd_prop table {
    width: 100%;
}

bp_property_1 div.advnncd_prop table {
    width: auto;
}
div.advnncd_prop table tr{
    height:22px;
    line-height:20px;
    font-size:10px;
    width: auto;
    /*background-color: #e8e8e8;*/
}
div.advnncd_prop table tr.tr_property{
    font-size:12px;
    font-weight:bold;

}
div.advnncd_prop table tr.tr_header{
    height: 22px;
    font-weight: bold;
    font-size: 12px;
    background-color: #e8e8e8;
}

div.advnncd_prop table td.td_header{
    height: 22px;
    font-weight: bold;
    font-size: 12px;
    background-color: #e8e8e8;
}
div.advnncd_prop table tr.tr_odd{
    background-color: #e8e8e8;
}

div.advnncd_prop table tr td{
    padding: 0 1px 0 2px;
    border-bottom: 1px gray solid;
    border-left:1px gray solid;
}
/*********end advncd prop ***********/