/*********************** Content *******************/

div{
    text-align: left;
}

div.back{
	width:440px;
	border:1px gray solid;
	background-color:white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}


div.login_back{
	width:400px;
	height: 255px;
	border:1px gray solid;
	background-color:white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}

.image_style{
	width:400px;
	height: 250px;
	text-align:center;
	image-align:center;
	background-color:transparent;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}

div.myaccount_back1{
	text-align:left;
	width:1000px;
	border:1px gray solid;
	background-color:white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}


div.myaccount_back{
	width:800px;
	border:1px gray solid;
	background-color:white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}

#login {
       position:absolute;
       top:50px;
       left:35%;
}

div.div_header1{
	height:500px;
	line-height:200px;
	padding:0 0 0 15px;
	font-size:18px;

}


div.div_header{
	height:60px;
	line-height:60px;
	padding:0 0 0 15px;
	font-size:18px;
        text-align: left;
}

.msgblock
		{
		font-size: 12px;
		padding: 3px;
		display: block;
		background:transparent none repeat scroll 0 0;
		border-width:0;
		display:block;
		}

#content {
	background:transparent url(../../../images/bg.jpg) repeat scroll 0 0;
	/*height:570px;*/
	
	
}


#content_account{
	background-color: transparent;
	height:480px;
	border:1px gray solid;
	width: 1000px;
	text-align:left;
}
#content_account{
	background-color: transparent;
	height:480px;
	border:1px gray solid;
	width: 1000px;
	text-align:left;
}

#left_panel{
	float:left;
	height:auto;
	width:730px;
	padding:0 0 0 90px;
   
}
#left_panel_editmap{
	float:left;
	height:auto;
	/*width:440px;*/
	padding:0 0 0 0;
}
#My_Account{
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px;
}


#message_center{
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px;
	width:470px;
}

#maps_column{
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px;
	width:400px;
}
#function_column{
	/*height:595px;*/
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px 0;
	width:300px;
}
#profiles{
	/*height:595px;*/
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px 0;
	width:730px;
	background-color:white;
}
div.mapcolumnscroll{
	height:200px;	
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
}

/*#create_profile{	
	height:24px;
	width:145px;
	line-height:24px;
	float:right;
	margin:18px 150px 0 0;
	padding:0 5px 0 30px;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	background:url("../../../images/create.jpg") left center no-repeat;
}*/
#create_profile {
	background:url("../../../images/create.jpg") no-repeat scroll left center transparent;
	cursor:pointer;
	float:right;
	font-size:11px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	margin:11px 16px 0 0;
	padding:0 5px 0 31px;
	width:111px;
}
/*#quick_start{	
	height:24px;
	width:126px;
	line-height:24px;
	float:right;
	margin:0 -64px 0 0;
	padding:0 5px 0 38px;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	background:url("../../../images/quick_start.gif") left center no-repeat;
}*/
#quick_start  {
	background:url("../../../images/quick_start.gif") left center no-repeat;
	cursor:pointer;
	float:right;
	font-size:11px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	margin:0 -53px 0 0;
	padding:0 1px 0 38px;
	width:119px;
}
#right_panel{
	float:left;
	height:570px;
	width:247px;
	margin:0;
	padding-left:20px;

	
	
}
#right_panel_1{
	float:left;
	height:570px;
	/*width:193px;*/
	margin:0 0 0 0;
	padding-left:17px;
	padding-top:9px;
	
}
#target{
	height:auto;
	margin:1px 0 0 0;
	padding:0 0 10px;
	/*width : 300px;
	min-width:300px;*/
	width : auto;
}

#adapters{
	height:auto;
	margin:10px 0 0 0;
		padding:0 0 10px 0;

}
div.light{

	background: white;
	}


	
#downloads{
	/*	height:105px;*/
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px;
}
#source{
/*	height:105px;*/
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px;
	//width : 300px;
	min-width:300px;
	width : auto;
}
#profile_list{
	height:350px;
	width:440px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
}

#quick_links{
	height:auto;
	margin:10px 0 0 0;
	padding:0 0 10px;
	width:214px;
}

#content table{
	font-size:11px;
	font-weight:bold;
	width:729px;
	empty-cells: show;
	border-top: 1px gray solid;
	
}

#content table tr{
	height:30px;
	
}

#content table tr td{
	padding:0 0 0 5px;
	vertical-align: middle;
	border-bottom: 1px gray solid;
	border-left: 1px gray solid;
}

#content table tr td img, li img{
    position: relative;
    top: 5px;
}
/***************content1 start****************/
#content1 {
	background:transparent url(../../../images/bg.jpg) repeat scroll 0 0;
	/*height:570px;*/
/*	margin:0 auto;
	border-top:none;
	padding-bottom:20px;
	text-align:left;*/
}
#content1 table{
	font-size:11px;
	font-weight:bold;
	/*width:300px;*/
	empty-cells: show;
	border-top: 1px gray solid;
	
}

#content1 table tr{
	height:30px;
	
}

#content1 table tr td{
	padding:0 4px 0 5px;
	vertical-align: middle;
	border-bottom: 1px gray solid;
	border-left: 1px gray solid;
}

#content1 table tr td img, li img{
    position: relative;
    top: 5px;
}
/**************content1 end****************/
.txt_after_img{
    padding-left:5px;
}

.td_center{
    text-align: center;
}

table td.td_noborder{
    border-left: none !important;
}



/*****************************/
.iframes
{
	height:auto;
	width:100%;
	}
.image_font{	
	font-size:11px;
	font-weight:bold;
	font-family:Arial;
}	