#library_main{
	border: 2px gray solid;
	margin: 50px auto 0 auto;
	width: 720px;
	background-color: white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
}

div.div_header12{
	font-size: 20px;

}


#library_body{
	border-top: 1px gray solid;
}

.library_body_header{
	height: 30px !important;
	line-height:30px;
	font-size: 16px;
	font-weight:bold;

}


#library_back1{
	width:600px;
	border:1px gray solid;
	background-color:white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}


.library_body_block{
	border-top:1px gray solid;
}

#library_body table{
	width: 100%;
	border: none;
}

#library_body table tr{
	border-bottom:1px gray solid;
}

#library_body table tr td{
	vertical-align:text-top;
	padding: 5px 0 0 5px;
}

#library_body table tr td p{
	padding: 10px 5px 5px 5px;
	text-align: justify;
	color:#8a8b8b;
	font-size: 11px;
}

.library_col1{
	width: 300px;	
	padding:5px 0 10px 10px;	
	border-right: 2px gray solid;
	border-left: none !important;
}

.library_col2{
	width: 140px;
	
	padding:10px 0 10px 10px;	
	border-right: 1px gray solid;
	text-align:center;
}

.library_col3{
	width: 115px;
	
	padding:10px 0 10px 10px;	
	border-right: 1px gray solid;
}

.library_col4{
	width: 100px;
	border-right: none !important;
	padding:10px 0 10px 10px;	
}

.library_block_heading{
	font-weight:bold;
	font-size:12px;
	margin:0 0 5px 0;
	display:block;
	color: #313131 !important;
        text-align: left;
}

#paginator{
	border-top:1px gray solid;
}
