.outercontainer{
			background-color:white;
			margin:10px;
			width:826px;
			font-family:Arial;
			margin-left:auto;
			margin-right:auto;
			padding:10px;
			height:595px;
		 }
		.topbox{
			height: 77px;
			border:1px solid black;
			width:825px;
		}
		.pagenumbers{
			height: 14px;
			border:1px solid black;
			width:824px;
			font: normal normal 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-weight:bold;
		}
		h3{
			text-align:left;
			padding:10px;
			font-size:13px;			           
            font-weight:bold;           
	        height:15px;
	       /* border: 1px solid black;*/
	        background:gray;
		}
	
		.pagebox{
			width:600px;
			border:1px solid black;
			height:300px;
		}
		.label{
			float:left;
			padding:10px;						
		}
		.messagebox{
			height:auto;
			overflow-y:scroll;		
			border:1px solid black;						
		}
		.padleft{
			padding-left:5px;
		}
		.pg{
			padding-right:2px;
			padding-top:2px;
			text-decoration:underline;
		}
		body {
			background: #FFF;
			color: #000;
			/*font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;*/
			/*margin: 10px;*/
			padding: 0
		}
		
		.outercontainer {
			color: #000;
			font: normal normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif
		}
		
		h1 {
			font: normal normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
			margin: 0 0 5px 0
		}
		
		h2 {
			font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
			margin: 0 0 5px 0
		}
		
		h3 {
			font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
			color: white;
			margin: 0 0 15px 0
		}
		/* end basic styling                                 */
		
		/* define height and width of scrollable area. Add 16px to width for scrollbar          */
		div.tableContainer {
			clear: both;
			border: 1px solid #963;
			height: 285px;
			/*overflow: auto;*/
			width: 816px
		}
		
		/* Reset overflow value to hidden for all non-IE browsers. */
		html>body div.tableContainer {
			/*overflow: auto;
			overflow-x:hidden;
			overflow-y:auto;*/
			width: 825px
		}
		
		/* define width of table. IE browsers only                 */
		div.tableContainer table {
			float: left;
			width: 800px
		}
		
		/* define width of table. Add 16px to width for scrollbar.           */
		/* All other non-IE browsers.                                        */
		html>body div.tableContainer table {
			width: 825px
		}
		
		/* set table header to a fixed position. WinIE 6.x only                                       */
		/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
		/* an element that has an overflow property set, the relative value translates into fixed.    */
		/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
		thead.fixedHeader tr {
			position: relative
		}
		
		/* set THEAD element to have block level attributes. All other non-IE browsers            */
		/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
		html>body thead.fixedHeader tr {
			display: block
		}
		
		/* make the TH elements pretty */
		thead.fixedHeader th {
			background: gray;
			border-left: 1px solid gray;
			border-right: 1px solid gray;
			border-top: 1px solid gray;
			font-weight: normal;
			padding: 4px 3px;
			text-align: left
		}
		
		/* make the A elements pretty. makes for nice clickable headers                */
		thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
			color: #FFF;
			display: block;
			text-decoration: none;
			width: 100%
		}
		
		/* make the A elements pretty. makes for nice clickable headers                */
		/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
		thead.fixedHeader a:hover {
			color: #FFF;
			display: block;
			text-decoration: underline;
			width: 100%
		}
		
		/* define the table content to be scrollable                                              */
		/* set TBODY element to have block level attributes. All other non-IE browsers            */
		/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
		/* induced side effect is that child TDs no longer accept width: auto                     */
		html>body tbody.scrollContent {
			display: block;
			height: 262px;
			overflow-x:hidden;
			overflow-y:auto;
			width: 100%
		}
		
		/* make TD elements pretty. Provide alternating classes for striping the table */
		/* http://www.alistapart.com/articles/zebratables/                             */
		tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
			background: #FFF;
			border-bottom: none;
			border-left: none;
			border-right: 1px solid #CCC;
			border-top: 1px solid #DDD;
			padding: 2px 3px 3px 4px
		}
		
		tbody.scrollContent tr.alternateRow td {
			background: #EEE;
			border-bottom: none;
			border-left: none;
			border-right: 1px solid #CCC;
			border-top: 1px solid #DDD;
			padding: 2px 3px 3px 4px
		}
		
		/* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
		/* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
		/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
		
		html>body thead.fixedHeader th {
			width: 217px;
		}
		html>body thead.fixedHeader th + th{
			width: 238px;
		}
		html>body thead.fixedHeader th + th + th {
			width: 549px;
		}
		
		html>body thead.fixedHeader th + th + th + th {
			width: 100px;
		}
		html>body thead.fixedHeader th + th + th +th + th {
			width: 100px;
		}
		
				
		/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
		/* All other non-IE browsers.                                            */
		/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
		
		html>body tbody.scrollContent td {
			width: 150px
		}
		
		html>body tbody.scrollContent td + td {
			width:150px
		}
		
		html>body tbody.scrollContent td + td + td {
			width: 504px
		}
		html>body tbody.scrollContent td + td + td + td {
			width: 100px
		}
		html>body tbody.scrollContent td + td + td + td + td{
			width: 100px
		}
		A:link {text-decoration: none}
		A:visited {text-decoration: none}
		A:active {text-decoration: none}
		A:hover {text-decoration: underline; color: red;}
		.errormsg{
			width:825px;
			font-weight:bold;
			font-size:10px;
			color:red;
			text-align:center;
		}
		.profileheader{
			font-weight:bold;
			font-size:12px;
			width:825px;
			/*float:left;*/
			padding-left:5px;
			padding-bottom:5px;
		}
		#message{
			/*font-weight:bold;*/
			font-size:12px;
			padding:10px;
			height:190px;
		}
		.statename{
			color:blue;
		}
		.blkname{
			color:blue;
		}
		a.message{
			text-decoration:underline;
		}
		
		.searchfilter{
			height:15px;
			margin-top:-10px;
			margin-bottom:-26px;
		}
		.searchfilter td{
			vertical-align:top;
		}
		td input.submit[searchfilter]{
		    padding: 0 .25em;
		    width: 2em;
		}
		.SEVERE{
			color:red;
		}
		.allrows{
			border-bottom:1px solid;
		}
		.uline{
			text-decoration:underline;
		}
		.uline a:hover{
			color:blue;
		}
		.header_date{
			text-align:left;
			width: 125px; 
			word-wrap: break-word;
		}
		.header_component{
			text-align:left;
			width: 242px; 
			word-wrap: break-word;
		}
		.header_message{
			text-align:left;
			width: 242px; 
			word-wrap: break-word;
		}
		.header_type{
			text-align:left;
			width: 75px; 
			word-wrap: break-word;
		}
		.header_errorcode{
			text-align:left;
			width: 100px; 
			word-wrap: break-word;
		}
		.td_date{
			width: 125px; 
			word-wrap: break-word;
		}
		.td_component{
			width: 242px; 
			word-wrap: break-word;
		}
		.td_message{
			width: 242px; 
			word-wrap: break-word;
		}
		.td_type{
			width: 70px; 
			word-wrap: break-word;
		}
		.td_errorcode{
			width: 85px; 
			word-wrap: break-word;
		}