/***************** General rules **************/
body{
	font-family:"Arial";
	background: url("../../../images/bg.jpg");
	
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	text-decoration:underline;
}

div.myaccount_back1{
	width:1000px;
	border:1px gray solid;
	background-color:white;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
}


#wrapper_scheduler{
	width: 900px;
	/*height: 570px;*/
	margin:0 auto 0 auto;
	border-top:none;
	padding-bottom:20px;
}

#wrapper{
	width: 1000px;
	/*height: 570px;*/
	margin:0 auto;
	border-top:none;
	padding-bottom:20px;
	text-align:left;
	
}
#wrapper_editmap{
	/*width: 1000px;*/
	/*height: 570px;*/
	margin:0 auto;
	border-top:none;
	padding-bottom:20px;
	text-align:left;
	
}
#wrapper_map{
	width: auto;
	/*height: 570px;*/
	margin:0 auto 0 auto;
	border-top:none;
	padding-bottom:20px;
}
div.clear_float{
	float:none;
	clear:both;
}

/******************* Header *******************/
#header{
	height:35px;
	border-bottom:7px #535657 solid;
	background: white;
}

div.wrap{
	/*width:1000px;*/
	margin:0 auto 0 auto;
	text-align: center;
	height:auto;
}
div.light{

	background: white;
	}

#logo{
	float:left;
	height:35px;
	width:140px;
	background:transparent url("../../../images/logo.png") center center no-repeat ;
}

#top_nav{
	float:right;
	height:33px;
	width:480px;

}


#top_nav ul li{
	border-bottom: 3px #ededed solid;
	color: #565656;
	background-color:#ededed;
	cursor:pointer;
}

#top_nav ul li:hover{
	opacity:0.6;
}

#top_nav ul li.active{
	background-color:white;
}


ul.flat_ul{
	list_style:none;
}

ul.flat_ul li{
	float: right;
	height: 27px;
	line-height:27px;
	font-size:12px;
	padding:0 5px 0 5px;
	margin:5px 0 0 0;
	font-weight:bold;
}

li img, div img{
    position: relative;
    top: 5px;
}

.txt_after_img{
    padding-left: 3px;
}

/******************* Footer *******************/
#footer{
	height:35px;
	line-height:35px;
	padding:0 0 0 20px;
	font-size:10px;
	font-weight:bold;
	background: white;
    border-top: thin gray solid;
}
.msgblock
		{
		font-size: 12px;
		padding: 3px;
		display: block;
		background:transparent none repeat scroll 0 0;
		border-width:0;
		display:block;
		}
		
	/*	.dbsynclogo {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 11px;
		background-image: url("../../../images/bg.jpg");
		background: url(../../../images/dbsync2logo.gif);
		background-repeat: no-repeat;
		background-position: center;
		margin: 0px;
		padding: 0px;
		} */
		
		#tab_message{
			color:white;			
			font-size:17px;
			font-weight:bold;				
			float:right;
			text-align:left;
		}
		.tool_tip2{
	    position:absolute;
	    text-align:left;
	    background: white;
	    border:solid 2px;
	   /* margin-left:64px;*/       
	    padding:5px;
	    border-color:#638EBD;
	}
	.tool_tip_icon_name{
		position:absolute;
	    text-align:left;
	    background: white;
	    border:solid 3px;
	   /* margin-left:64px;*/       
	    padding:5px;
	    border-color:#638EBD;
	    font:message-box;
	}
	.icon_menu_view{
		padding-left:20px;
		padding-right:5px;
		padding-bottom:10px;
	/*	background-color:#595A5B;*/
	     background-color:#E4E4E4;			
	}
	.icon_menu_view2{
		padding-left:20px;
		padding-right:5px;
		padding-bottom:10px;
		background-color:#E4E4E4;			
	}
	.show_message_sucess{
			color:green;			
			font-size:14px;
			font-weight:bold;				
			float:right;
			text-align:left;
	}
	