#popup{
    width: 700px;
    font-family: 'Arial';
}
#popup_upload{
    width: 700px;
    font-family: 'Arial';
}
.ui-widget-content{
    background-color: white;
}

div.overlay_title{
    padding: 0 0 10px 10px;
    line-height: 30px;
    font-size:20px;
    font-weight: bold;

}

div.overlay_blue_title{
    color:#0082d5;
    line-height:20px;
    font-size:18px;
    padding: 0 0 10px 10px;
    border-bottom: 2px gray solid;
    font-weight: bold;
}
div.overlay_body{
    padding:20px 0 0 0;
}

div.overlay_body table{
    width:100%;
    padding: 20px 0 0 0;
}

div.overlay_body table tr{
    height:40px;
}

div.overlay_body table td{
    padding: 0 0 0 20px;
    line-height: 30px;
}

div.overlay_body table input{
    width:255px;
    height: 30px;
    border:1px gray solid;
}

div.overlay_body table button{
    width:125px;
    height: 25px;
    font-size:11px;
    line-height:20px;
}

#cboxClose {
    top:0 !important;
    line-height:25px;
    text-indent:25px;
    font-size:12px;
    font-weight:bold;
    color:gray;
    right:35px;    
}
#cboxLoadedContent{
    margin-bottom:10px;
}

div.popup_header{

}

div.header_strip{

}

#create_adaptor_form input, select{
    font-size:12px;
}

