* {
		    margin: 0px;
		    padding: 0px;
		}
		html, body {
		    height: 100%;
		}	
		.show_message_sucess{
				color:green;			
				font-size:14px;
				font-weight:bold;				
				float:left;
				text-align:left;
		}	
		.show_message_fail{
				color:red;			
				font-size:14px;
				font-weight:bold;				
				float:left;
				text-align:left;
		}
		#readercontainer {
			border:1px solid;
			margin:auto;
			min-height:180px;
			width:979px;
			/*clear: both;*/
		}
		#statenames{
		/*	border:1px solid;*/
			/*position: relative;
			margin:auto;
			min-height:362px;
			width:172px;
			float:left;
			clear: both;*/
		}
		.clear { clear: both; }
		/*#wrapper{
			margin:auto;
			min-height:369px;
			width:950px;					
		}*/
		#wrapper{
		 /*position:absolute;*/
			height:auto;
			margin: 10px auto;
			min-height:369px;
			/*overflow:auto;*/
			/*width:950px;*/
		}
		#insidecontainer {
			margin: 0;
			padding: 0;
			min-height: 45px;
			_height: 45px;
		}
		#mapcontainer {
			border : 1px solid;
			margin : auto;
			min-height : 180px;
			width : 980px;
		}
		.sourcecontainer{
		   float: right;
		   margin-right:10px;
		   margin-top:5px;		  
		}
		.outerbox{
			width: 600px;
		}
		.targetcontainer{		    
		 	 float: left;		 	 
		 	 margin-left:10px;
		 	 margin-top:5px;		    	
		}
		.mapheader{
			float: left;
   			width: 100%;
		}
		.leftside{
			float: left;
			margin-left:10px;
		 	margin-top:5px;
		}
		.rightside{
			float: right;
			margin-right:10px;
		 	margin-top:5px;						
		}
		.questionares{
			float:left;
		}
		body{
			font-family:"Arial";						
		}
		.stateblock{
			margin-left:10px;
			margin-right:10px;
			position:absolute;
			width:100px;
			/*float: left;
			width: 150px;	
			min-height: 100px;
			*/
		}
		 .leftcol{
                  position: absolute;
                  top: 100px;
                  left: 0px;
                  width: 150px;
                 /* height: 500px;*/
            }
      .rightcol{                  
                  position: absolute;
                  top: 100px;
                  left: 150px;
                  width: 750px;
                  height: 500px;
       }
      .mappingsection{
                 
                float: left;
                min-height: 200px;
                height: auto;
   				width: 100%;
     }
	.notes2 {
                        background-color: #eceff6;
                        border: 1px solid #d4dae8;
                        color: #333333;
                        padding: 10px;
                        font-size: 10px;
                        /* font-weight: bold;
                        position: relative;*/
                        bottom: 0px;
                      /*  width: 225px;*/
                      	width : 317px;
                        float:left;
                    }			