/*#content1{
	padding: 10px 30px 10px 0px;
}*/

div.scheduler_block{
	width: 455px;
	height: 425px;
	border: 1px  #B7C4D0 solid;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
	background-color: white;		
}

#scheduler_right{
	float: right;
	margin: 5 auto 5 auto;
	border: 1px #B7C4D0 solid;
	width: 440px;
	height: 420px;
	background-color: ;
	font-size: 12px;
}

#scheduler_right_body{
	font-size: 11px;
	font-weight: bold;
	color: #565758;
	border-top: 1px #4e4e4e solid;
}

#scheduler_right_body p{
	padding: 10px 5px 0 10px;
	text-align:justify;
}

#scheduler_left_1{
	border-top: 1px #b7c4d0 solid;
	height:90px;
	font-size: 12px;
	font-weight: bold;
}

#scheduler_left_2{
	border-top: 1px #b7c4d0 solid;
	height: 27px;
	line-height: 27px;
	font-weight: bold;
	font-size: 12px;
	padding: 0 0 0 10px;
}

#scheduler_left_3{
	border-top: 1px #b7c4d0 solid;
	height: 270px;
	scroll: auto;
}

div.schedulerscroll{
	height:200px;	
	overflow:scroll;
	overflow-x:scrool;
	overflow-y:scrool;
}

#scheduler_left{
	float: left;
	margin: 0 0 0 0;
	background-color:;
}


div.scheduler_lt_block{
	display: block;
	line-height: 30px;
	font-size: 12px;
}

div.scheduler_lt_col1{
	
	padding: 0 0 0 10px;
	float: left;
}

div.scheduler_lt_col12{
	
	padding: 10px 80px 0 10px;
	float: left;
}
div.scheduler_lt_button{
	
	padding: 0 10px 0 500px;
	float: right;
}

div.scheduler_lt_col14{
	
	padding: 0 0 50 0;
	float: left;
	
}
div.scheduler_lt_col2{	
	padding: 0 0 0 5px;
	float: left;
	width: 150px;
}
select.select{
    
   
    width:315px !important;

}

div.scheduler_ltd_col1{
	width: 80px;
	float: left;
	padding: 10px 0 0 5px;
}

div.scheduler_ltd_col2{
	width: 140px;
	float: left;
	padding: 10px 0 0 5px;
}
div.scheduler_ltd_col3{
	font-size: 10px;
	float: left;
	padding: 10px 0 0 15px;

}

div.scheduler_ltd_col3 div{
	line-height:10px;
}

#scheduler_bottom{
	background-color: white;
	width: 900px;
	-moz-border-radius:8px;
    -webkit-border-radius:8px;
    -opera-border-radius:8px;
    -khtml-border-radius:8px;
    border-radius:8px;
	margin: 25px auto 0 auto;
	border: 1px #b7c4d0 solid;
	font-size: 12px;
}

div.scheduler_bottom_block{
	display: block;
	height: 33px;
	border-bottom: 1px #b7c4d0 solid;
}

div.s_bb_col_head{
	font-size: 12px !important;
}

div.scheduler_bb_col1{
	width: 100px;
	border-right: 1px #b7c4d0 solid;
	float: left;
	
	line-height:30px;
	padding: 0 0 0 5px;
	font-weight: bold;
	font-size:12px;
}

div.scheduler_bb_col3{
	width: 180px;
	border-right: 1px #b7c4d0 solid;
	float: left;
	line-height:30px;
	padding: 0 0 0 5px;
	font-weight: bold;
	font-size:12px;
	word-wrap:break-word;
}
div.scheduler_bb_col4{
	width: 50px;	
	border-left: 1px #b7c4d0 solid;
	float: left;
	line-height:30px;
	padding: 0 0 0 5px;
	font-weight: bold;
	font-size:12px;
	word-wrap:break-word;
}
div.scheduler_bb_col5{
	width: 254px;
	border-right: 1px #b7c4d0 solid;
	float: left;
	line-height:30px;
	padding: 0 0 0 5px;
	font-weight: bold;
	font-size:12px;
	word-wrap:break-word;
}
div.scheduler_bb_col2{
	border: none;
}

