body {
    font-family:"Arial";
    font-size: 16px;
    /*width: 845px;*/

}
.top{
    width:845px;
}
.clear{
    clear:both;
}
.box{
    border: solid 2px #9BAFF1;
    width: 400px;
    -moz-border-radius-topright:4px;
    -moz-border-radius-topleft:4px;
    float: left;
    margin:5px;
}

.box_head{
    background-color: #9BAFF1;
    padding: 1px 6px;

}

.box_title{
    font-size: 16px;
    float: left;
    margin:0;
    color: #fff;
}

.box_min{
    width: 20px;
    height:20px;
    background: transparent;
    float: right;

    background-image:url("images/arrow.png");
    background-position:0 0;
    background-repeat:no-repeat;

    height:14px;
    width:26px;
}

.box_min_close{
    background-image:url("images/arrow.png");
}

.box_body{
    overflow: auto;
    width:100%;
}

.small_box{
    height:200px;
}

.advanced_properties{
    width:814px;
    height:auto;
    float: none;
}

div.row{
    border-bottom: solid 1px rgb(74,126,187);
    height: 30px;
}
div.last{
    border-bottom: none;
}

span.run{
    float:right;
    padding:5px;
}
a.run{
	 color:white !important;
	cursor:pointer;
	font-size:11px;
	/*font-weight:bold;*/	
    padding: 0 25px;
    -moz-border-radius:5px;
    border: solid 2px #385D8A;
    font-size: 15px;
    /*color: #fff;*/
    background-color: #4F81BD;
    text-decoration: none;
   
}

div.states{
    border: solid 1px;
    margin: 5px;
}
#box-table-b
{
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-size: 12px;
    margin: 10px;
    width: 480px;
    /*text-align: center;*/
    border-collapse: collapse;
    border-color:#E5EAEB;
    /*border-top: 7px solid #9baff1;
    border-bottom: 7px solid #9baff1;*/
}
#box-table-b th
{
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    
    /*background: #e8edff;
    border-right: 1px solid #9baff1;
    border-left: 1px solid #9baff1;*/

    color: #039;
}
#box-table-b th.cell
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    /*background: #e8edff;*/
    border: 1px solid #9baff1;
    color: #039;
}
#box-table-b td
{
    padding: 8px;
    /*background: #e8edff;
    border-right: 1px solid #aabcfe;
    border-left: 1px solid #aabcfe;*/
    color: #669;
}
#box-table-b td.cellbottom
{
    padding: 8px;
    /*background: #e8edff;*/
    /*border-bottom: 7px solid #9baff1;*/
    color: #669;
}
#box-table-b td.cell
{
    padding: 8px;
    /*background: #e8edff;*/
    border: 1px solid #aabcfe;
    color: #669;
}

.tool_tip{
    position:absolute;
    text-align:left;
    background: white;
    border:solid 2px;
    /* margin: -36px 0 0 91px;*/
    padding:5px;
}
.tool_tip2{
    position:absolute;
    text-align:left;
    background: white;
    border:solid 2px;    
    margin-left:64px;    
    /* margin: -36px 0 0 91px;*/
    padding:5px;
}
.left{
    float:left;
    width:610px;
}
.right{
    float:left;
    width:610px;
}
.ui-tabs-nav {
    width:208px !important;
}
.top_heading  {
    background-color:#504F4F;
    color:#FFFFFF;
    /* float:left;*/
    font-size:23px;
    font-weight:700;
    height:40px;
    line-height:40px;
    margin-bottom:15px;
    text-indent:15px;
    width:969px;
}
.ui-tabs-nav {
    padding-top:1em !important;
}
.ui-tabs-nav li {width: 95%!important;}

.ui-tabs-nav li a {font-size: 13px; font-weight: 700;padding-left:39px !important;}

.ui-state-active a:link {color: #6C90BD!important;}

/*.bottom_header a#previous{

	color:#FFFFFF;
	float:left;
	font-size:17px;
	font-weight:700;
	height:40px;
	line-height:40px;
	margin-bottom:15px;
	text-indent:232px;
	width:969px;
	padding-top:10px;

}*/
.bottom_header {	
    color:#FFFFFF;
    float:left;
    font-size:17px;
    font-weight:700;
    height:40px;
    line-height:40px;
    margin-bottom:15px;

    width:969px;
    padding-top:10px;

}
#next{
    /*text-indent:732px;*/
    background:#3F82B3;
    font-size:11px;
    font-weight:bold;
    cursor:pointer;
    color:white;
    height:24px;
    line-height:24px;
    padding:3px 5px 3px 8px;
    margin:18px 10px;

}
/* #previous{
	text-indent:532px;
	margin:342px;
	}*/
#previous {
    margin:340px;
    /*  text-indent:532px;*/

    background:#3F82B3;
    font-size:11px;
    font-weight:bold;
    cursor:pointer;
    color:white;
    height:24px;
    line-height:24px;
    padding:3px 5px 3px 8px;
}
.status_head{
    background-color:#D7EDF5;

}
.step_head{
    background-color:#E6F1F5;
}
.desc_head{
    background-color:#F7F6F6;
}
.edit_head{
    background-color:#E6F1F5;
}
.checkbx_td{
    background-color:#D7F4FE;
}
.statename_td{
    background-color:#EAF9FE;
}
.checkbx_td{
    background-color:#D7F4FE;
}
.desc_td{
    background-color:#FFFFFF;
}
.edit_td{
    background-color:#EAF9FE;
}
.txt_after_img{
    padding-left:5px;
}
.message{
    font-size:12px;
    font-weight:150;
    height:20px;
    line-height:20px;
    text-align:center;
    font-family:trebuchet MS,Tahoma;;
    color:red;
    /*margin-bottom:15px;*/
    text-indent:15px;
}
.statusmsg{
	font-size:12px;
    font-weight:150;
    height:20px;
    line-height:20px;
    text-align:center;
    font-family:trebuchet MS,Tahoma;;
    color:red;
    /*margin-bottom:15px;*/
    text-indent:15px;
	}
.continue_butt{
    marging:0 0 50px 0;
}
#getstrt{
    color:#DADADA;
    font-size:15px;
}

.displaystatus{
    font-family: trebuchet MS,Tahoma;
    font-size: 12px;
    width: 75px;
}
.display_results {
	font-family: trebuchet MS,Tahoma;
    font-size: 12px;
   /* width: 75px;*/
	color:red;
	float:right;
	font-weight:bold;
	margin:0 238px 0 10px;
}
img  {
border:0 none;
}

.tp_Expand_Header a{
	font: normal 600 13pt Trebuchet MS;
	text-align: left; /*color: #5a8e22;*/
	color: #666666;
	text-decoration: none;
}

.Expand_Header a{
	font: normal 550 13pt Trebuchet MS;
	text-align: left; /*color: #5a8e22;*/
	color: #ff6600;
	text-decoration: none;
}

.Expand_Header a:hover {
	text-decoration: none;
}

.Expand_SubHeader a{
	font: normal 550 10pt Trebuchet MS;
	text-align: left; /*color: #5a8e22;*/
	color: #666;
	text-decoration: none;
}

.Expand_SubHeader a:hover {
	text-decoration: none;
}


a.read_more {
color:#5A8E22;
text-decoration:none;
}

/*a {
color:#5B8F23;
text-decoration:none;
}*/

#container {
    display: table;
	padding:10px;
	border:1px solid black;
	font-size:12px;
	margin:10px;
	width:580px;
    }

  #row  {
    display: table-row;
    }

  #left, #right, #middle {
    display: table-cell;
	padding-right:12px;
	padding-top:10px;
	width:150px;
    }
	.table_heading{
		font-weight:bold;
		color:#003399;
		border-bottom:1px;
	}
	#save_butt{
		float:right;
		padding-top:10px;
		margin-left:237px;
		}
		.location{		
	/*	position:inherit;
		margin:-2px;*/
		clear:both;		
		float:right;
		margin:-2px;
		position:relative;
		}