@charset "utf-8";
/* CSS Document */
body {
	background-color: #ffffff;
	font-size: 100%; 
	font-family: arial, sans-serif
}
TD {
	FONT-SIZE: 90%;
	FONT-FAMILY: arial, sans-serif
}
TH {
	FONT-SIZE: 100%; 
	FONT-FAMILY: arial, sans-serif
}

TABLE.inner_component{
		border:1px solid #cccccc;
		font-size: 100%; 
		font-family: arial, sans-serif;
}
TABLE.inner_component TD {
	vertical-align: top;
	font-size: 100%; 
}

.text {
	font-size: 90%; 
	font-family: arial, sans-serif;
	font-weight: normal;
}

.help{
	background-color:#4F81BD;
	color:#FFFFFF;
	text-align: right;
	padding-right: 15px;
}

.tdBorderCol{
	margin-right: 22px; 	
	border-top: #999 2px solid;
	border-top-color: #F79646;
	border-bottom: #999 2px solid;
	border-bottom-color: #F79646;
	border-left: #999 2px solid;
	border-left-color: #F79646;
	border-right: #999 2px solid;
	border-right-color: #F79646;
}
* html .oddTD {
	border-right: #999 1px solid;
	border-right-color: #5E8CC0;
	width: 700px;	
	background-color: #FFFFFF;
	color: #000000;
	font-family: arial, sans-serif;
	height: 23px;	
}

.oddTD {
	border-right: #999 1px solid;
	border-right-color: #5E8CC0;
	width: 300px;
	background-color: #FFFFFF;
	color: #000000;
	font-family: arial, sans-serif;
}

* html .evenTD {
	width: 300px;	
	background-color: #EBF1DE;
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 50%;
	height: 23px;
}
	

.evenTD {
	width: 300px;	
	background-color: #EBF1DE;
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 
}



div {

	overflow:auto;
	width:95%;
	height:1px;
}


/*screen 9 related css */




.header {
	margin-left:100px;
	border-top: #999 2px solid;
	border-top-color: #4D7399;
	border-bottom: #999 2px solid;
	border-bottom-color: #4D7399;
	border-left: #999 2px solid;
	border-left-color: #4D7399;
	border-right: #999 2px solid;
	border-right-color: #4D7399;
	font-family: arial, sans-serif;
	background-color:#4F81BD;
	color:#FFFFFF;
}
#margin{
	margin-left: 100px;
}

table.dbsync2blueborder {
	
	border-top: #999 1px solid;
	border-top-color: #4D7399;
	border-bottom: #999 2px solid;
	border-bottom-color: #4D7399;
	border-left: #999 2px solid;
	border-left-color: #4D7399;
	border-right: #999 1px solid;
	border-right-color: #4D7399;
}

.sync{
	width: 150px;
	height: 50px;
	padding-right: 15px;
	padding-left: 10px;
	border-top: #999 1px solid;
	border-top-color: #4D7399;
	border-bottom: #999 1px solid;
	border-bottom-color: #4D7399;
	border-left: #999 1px solid;
	border-left-color: #4D7399;
	border-right: #999 1px solid;
	border-right-color: #4D7399;
	font-family: arial, sans-serif;	
}

.messagecenter{
	width:400px;
	border-top: #999 2px solid;
	border-top-color: #9BBB59;
	border-bottom: #999 2px solid;
	border-bottom-color: #9BBB59;
	border-left: #999 2px solid;
	border-left-color: #9BBB59;
	border-right: #999 2px solid;
	border-right-color: #9BBB59;
	font-family: arial, sans-serif;
	font-size: 18em;	
}
a.sync_product{
	color: #403152;
}

.msgcenter{	
	height:200px;
	font-size: 18pt;
	font-family: arial, sans-serif;
}

* html a {
	COLOR: #405AC1;
	font-family: arial, sans-serif;
	font-size: 95%;
	
}
a {
	COLOR: #000cc;
	font-family: arial, sans-serif;
	font-size: 100%;
}
* html a:active {
	COLOR: #ff0000;
	
}
a:active {
	COLOR: red;	
}
* html .subscribe{
	text-align: right;		
	font-family: arial, sans-serif;
	font-size: 100%;
	font-weight: bold;
}
.subscribe {
	padding-right: 10px;
	color: #ffffff;
}


a.white {
	padding-left: 25px;
	color: #ffffff;
	
}

* html #extra_changes {
	padding-left: 3px;	
	width: 105px; 
	height: 32px; 
}

#extra_changes {
	background-position: left; 
	width: 105px; 
	height: 32px; 
	padding-right: 20px;
}

* html .background_image{
	background-image: url("../images/button_image.gif");
	background-repeat: no-repeat;
	background-position: 90px;
	padding-left: 79px;	
	color : #ffffff;
	height: 32px;
	width: 93px;
}
* html a.white_noUnderline{
	color: #ffffff; 
	text-decoration: none;	
}

a.white_noUnderline{
	color: #ffffff; 
	text-decoration: none;	
}

.background_image{
	background-image: url("../images/button_image.gif");
	background-repeat: no-repeat;
	background-position: 90px;
	text-align: right;
	padding-right: 60px;	
	color : #ffffff;
	height: 32px;
	font-weight: 600;
	font-size-adjust: 2px;
	width: 90px;
}

* html table.sectionHeader {
			
	margin-left: 200px;	
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}
table.sectionHeader {
			
	margin-left: 200px;	
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
}
.tdcenteralign{
	
	text-align: center;

}


textarea.textarea {
		
	overflow: auto;
	font-family: arial, sans-serif;
	font-style: normal;
	font-weight: 600;
	width: 380px;
	height: 170px;
	border-top: #999 1px solid;
	border-top-color: #95B3D7;
	border-bottom: #999 1px solid;
	border-bottom-color: #95B3D7;
	border-left: #999 1px solid;
	border-left-color: #95B3D7;
	border-right: #999 1px solid;
	border-right-color: #95B3D7;		
	
}



#blueborderTD{	
	color: #ffffff;
	border-right: 0px;
	border-bottom: 0px;
	VERTICAL-ALIGN: top;	
	FONT-SIZE: 100%; 
	FONT-FAMILY: arial, sans-serif;
}

  * html   table.dbsync2_table_bluebackground {		
		
	background-color:#4F81BD;	
	color: #ffffff;	
	font-family: arial, sans-serif;
	font-size: 120%;
	font-weight: lighter;
	border-top: #999 3px solid;
	border-top-color: #4D7399;
	border-bottom: #999 3px solid;
	border-bottom-color: #4D7399;
	border-left: #999 3px solid;
	border-left-color: #4D7399;
	border-right: #999 3px solid;
	border-right-color: #4D7399;
}
table.dbsync2_table_bluebackground {		
		
	background-color:#4F81BD;	
	color: #ffffff;	
	font-family: arial, sans-serif;
	font-size: 140%;	
	font-weight: normal;	
	text-shadow: white;
	border-top: #999 3px solid;
	border-top-color: #4D7399;
	border-bottom: #999 3px solid;
	border-bottom-color: #4D7399;
	border-left: #999 3px solid;
	border-left-color: #4D7399;
	border-right: #999 3px solid;
	border-right-color: #4D7399;
}

* html .dbsync2_table_links{	
	
	text-align: center;		
	font-family: arial, sans-serif;
	font-size: 100%;
}

.dbsync2_table_links{	
	
	text-align: center;		
	font-family: arial, sans-serif;
}




TABLE.dbsynctable  TH{
	
	background-color: #77933C;
	color: #FFFFFF;
	font-family: arial, ;
	font-size: 12pt;
}
Table.dbsynctable {
	
	border-top: #999 1px solid;
	border-top-color: #77933C;
	border-bottom: #999 2px solid;
	border-bottom-color: #77933C;
	border-left: #999 2px solid;
	border-left-color: #77933C;
	border-right: #999 1px solid;
	border-right-color: #77933C;
	color: #ffffff;
}
TABLE.dbsynctable TD {	

	color: #000000;
	VERTICAL-ALIGN: top;
	border-right:1px solid #cccccc;
	border-right-color: #77933C;
	border-bottom:1px solid #cccccc;
	border-bottom-color: #77933C;
	FONT-SIZE: 100%; 
	FONT-FAMILY: arial, sans-serif;
}

table.dbsync_inner_table{
	border:0px solid #cccccc; 
	FONT-SIZE: 100%; 
	FONT-FAMILY: arial, sans-serif;
}
TABLE.dbsync_inner_table TD {
	BACKGROUND-COLOR: #ffffff; 
	VERTICAL-ALIGN: top;
	border:1px solid #cccccc; 
	FONT-SIZE: 100%; 
	FONT-FAMILY: arial, sans-serif;
}

.button_image{		 
	background-color: #4F81BD;
	text-align: center;
	width: 97px;
	height: 25px;
	font-size: 16pt;
	margin-right: 55px; 
	float: right;
	color:#FFFFFF;
	font-family: arial, sans-serif;
	border-top: #999 1px solid;
	border-top-color: #4F81BD;
	border-bottom: #999 1px solid;
	border-bottom-color: #4F81BD;
	border-left: #999 1px solid;
	border-left-color: #4F81BD;
	border-right: #999 1px solid;
	border-right-color: #4F81BD;
}


