BODY {
	BACKGROUND-COLOR: #ffffff
}
BODY {
	FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif
}
TD {
	FONT-SIZE: 90%; FONT-FAMILY: arial, sans-serif
}
TH {
	FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif
}

.text {
	FONT-SIZE: 90%; FONT-FAMILY: arial, sans-serif;
	FONT-WEIGHT: normal
}
A {
	COLOR: #00c
}
A:active {
	COLOR: #ff0000
}
H2 {
	FONT-SIZE: 1.25em; MARGIN-BOTTOM: 0px
}
H3 {
	PADDING-RIGHT: 3px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 1em; BACKGROUND: #f0f0f0; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; WIDTH: 700px; PADDING-TOP: 3px; BORDER-BOTTOM: #999 1px solid
}
#ac-list {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 80%; Z-INDEX: 10; BACKGROUND: #e0ecff; PADDING-BOTTOM: 1px; MARGIN: 0px 10px; BORDER-LEFT: #666 1px solid; COLOR: #00c; PADDING-TOP: 0px; BORDER-BOTTOM: #666 1px solid; FONT-FAMILY: Arial
}
#ac-list DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 1px; CURSOR: pointer; PADDING-TOP: 0px
}
#ac-list .selected {
	BACKGROUND: #c3d9ff
}
.message {
	FONT-WEIGHT: bold; COLOR: blue
}
.error {
	FONT-WEIGHT: bold; COLOR: #990000
}
.firstColumn {
	VERTICAL-ALIGN: baseline; WIDTH: 175px; WHITE-SPACE: nowrap
}
.secondColumn {
	WIDTH: 520px
}
.headerBar1 {
	BORDER-TOP: #006633 1px solid; BACKGROUND-COLOR: #deefe0
}

.headerBar {
	BACKGROUND-COLOR: #deefe0
}

.sectionHeader {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap
}
.addAnotherLink {
	WIDTH: 100%; TEXT-ALIGN: right
}
.visibleDiv {
	DISPLAY: block
}
.hiddenDiv {
	DISPLAY: none
}
TABLE.checkboxtable TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px
}
.standardWidth {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; WIDTH: 700px; PADDING-TOP: 3px
}

TABLE.dbsynctable TH {
	BACKGROUND-COLOR: #DBE6DE; 
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-TOP: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; 
}

TABLE.dbsynctable{
	 background:#DBE6DE;border:1px solid #ccc; FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif;
}

TABLE.dbsynctable TD {
	BACKGROUND-COLOR: #ffffff; 
	VERTICAL-ALIGN: top;
}

table.dbsync_inner_table{
		border:0px solid #cccccc; FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif;
}
TABLE.dbsync_inner_table TD {
	BACKGROUND-COLOR: #ffffff; 
	VERTICAL-ALIGN: top;
	border:1px solid #cccccc; FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif;
}

table.inner_component{
		border:1px solid #cccccc; FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif;
}
TABLE.inner_component TD {
	VERTICAL-ALIGN: top;
	FONT-SIZE: 100%; 
}

table.task_section{
		border:1px solid #cccccc; FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif;BACKGROUND-COLOR: #ffffff; 
}

TABLE.topframe TH {
	BACKGROUND-COLOR: #DBE6DE; 
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-TOP: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; 
}

TABLE.topframe{
	 background:#DBE6DE;border:1px solid #ccc; FONT-SIZE: 100%; FONT-FAMILY: arial, sans-serif;
}

TABLE.topframe TD {
	BACKGROUND-COLOR: #DBE6DE; 
	VERTICAL-ALIGN: top;
}

.sectionframe {
	BACKGROUND-COLOR: #eeeeee; 
	VERTICAL-ALIGN: top;
}

